@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {  
  0%{                  
    opacity: 0;
  }
    100%{
      opacity: 1;
    }
  }